* {
  margin: 0px;
  padding: 0px; }

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }
  body header {
    background-color: #000;
    height: 7vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 5%;
    color: #eee;
    font-size: 0.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900; }

.card-container {
  margin: 1em; }

.emoji-card {
  display: inline-block;
  border: 1px solid #eee;
  padding: 0.5em;
  font-size: 5em; }
