@import "variables.scss";
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $primary;

  header {
    background-color: $dark;
    height: 10vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 5%;
    color: $light;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
}
